* {
    margin: 0;  /* px is not necessary at 0 value */
    padding: 0;
    box-sizing: border-box;
}

/***** Reusable *****/
.row {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.heading-main h2:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #000;
    margin: 10px auto;
}

/***** Header *****/

header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),
    url("img/mf-colo.jpg");
    background-size: cover;
    height: 100vh;
    
}

#logo img {
    width: 200px;
    position: absolute;
    top: 10px;
}

nav ul {
    float: right;
    margin-top: 40px;
}

nav ul li{

    display: inline-block;
    color: #fff;
    margin-left: 15px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
    
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #fff;
}


.header-text {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 3px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background: transparent;
    
}


.btn:hover, 
.btn:active {
    background: #fff;
    color: #000;
    transition: background 0.5s, color 0.5s;
}

.btn1:link,
.btn1:visited {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    
    
}


.btn1:hover,
.btn1:active {
    background: #fff;
    color: #000;
    transition: background 0.5s, color 0.5s;
}


.btn-ot {
    margin-left: 10px;
}


/***** AboutMe *****/

.fila-example img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}

#fila-boty-1 {
    height: 310px;
}

/***** Info *****/

.fila-info img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}

.text-fila {
    margin-bottom: 20px;
}


.text-fila div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    float:left;
    margin-right: 10px;
}

.text-fila p {
    font-size: 14px;
}

/***** References *****/

.references {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/mf-colo.jpg);
    background-size: cover;
}

.references h2 {
    color:#fff;
    padding-top: 40px;
}

.references h2:after {
    border-bottom: 2px solid #fff;
}

.one-reference {
    color: #fff;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.one-reference p {
    font-style: italic;
    
}


.photo-name {
    margin-top: 10px;
    margin-bottom: 30px;
}

.photo-name p {
    padding: 30px;
    margin-left: 60px;
    font-style: normal;
}


.photo-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;

}


/***** PhotoGallery *****/

.photo-segment img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}





/***** StopFloating *****/
.clearfix {zoom: 1}
.clearfix:after {
    content:".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}